.cart-container{
    display: flex;
    margin: 0 50px;
    flex-direction: column;
    justify-content: center;

}

.item-container{
    border:1px solid gray;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightblue;
    gap: 4%;
    transition: all 0.1s;
}
.item-container:hover{
    background-color: rgb(149, 183, 194);
}
.item-title{
    text-align: center;
    width: 300px;
}
.price{
    text-align: center;
    width: 100px;
}
.item-container img{

    width: 100px;
    height: 120px;
}
.item-container p{
    margin: 0
}
.item-container input[type="number"]{
    width: 30px;
}

.image-container{
    width:150px;
    height:200px;
    display:flex;
    justify-content:center;
    align-items:center;
    /* border: 80px,solid,gray; */
    
}
.image-container img{
    width:98%;
    height:98%;
    transition: all 0.1s linear;
}
.total-container{
    display:flex;
    justify-content:end;
    font-size:24px;
    margin-right:50px
}
.checkout-button{
    height: 40px;
    border-radius: 10px;
    background-color: blue;
    color: white;
    margin-bottom:50px;
}


@media screen and (max-width:710px){  /*si se modifica el mensaje tambien se debe modificar el responsive*/
    .item-container{
        flex-direction: column;
    }
}