.product-container{
    display:flex;
    margin: 50px;
}

.product-image-container{
    width: 50%;
    height: 75%;
}
.product-image-container img{
    width: 100%;
    height: 100%;
}
.information-container{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
}

/*/////////////////////////////////RESPONSIVE//////////////////////////////////////*/
@media screen and (max-width:710px){  
    .product-container{
        flex-direction: column;
        justify-content: center;
    }
    .product-container div{
        display: flex;
        margin:auto;
    }
}